.Experience-Index{
    text-align: center;
    height: 1000px;
    margin-top: -20px;
    background: rgb(17,85,136);
    background: linear-gradient(45deg, rgb(93, 179, 219) 18%, rgb(65, 152, 189) 39%, rgba(85, 198, 233, 0.918) 67%, rgba(0,212,255,1) 95%);
}

.Experience-Body > h1{
    padding-top: 20px;
    margin-bottom: 25px;
    margin-top: 60px;
}

.SwiperCenterFix{
    /* border: 1px solid magenta; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.PTTimeline-Index{
    border: 1px solid red;
    width: 400px;
    height: 700px;
    text-indent: 2px;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 40%;
}

/* .PTTimeline-Body{
    text-align: left;
    display: inline-block;
    margin: auto;
    padding: 0;
} */



.CodingTimeline-Index{
    /* border: 1px solid blue; */
    width: 400px;
    height: 700px;
    text-indent: 2px;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 43%;
}

.FreelancerTimeline-Index{
    /* border: 1px solid yellow; */
    width: 400px;
    height: 700px;
    text-indent: 2px;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 43%;
}