.Experience-Index{
    text-align: center;
    height: 1000px;
    margin-top: -20px;
    background: rgb(17,85,136);
    background: linear-gradient(45deg, rgb(93, 179, 219) 18%, rgb(65, 152, 189) 39%, rgba(85, 198, 233, 0.918) 67%, rgba(0,212,255,1) 95%);
}

.Experience-Body > h1{
    padding-top: 20px;
    margin-bottom: 25px;
    margin-top: 60px;
}

.WorkTimeline-Index{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.PTTimeline-Index{
    border: 1px solid red;
    width: 400px;
    height: 700px;
    text-align: left;
    text-indent: 2px;
    letter-spacing: 1px;
}

.CodingTimeline-Index{
    border: 1px solid blue;
    width: 400px;
    height: 500px;
    text-align: left;
    text-indent: 2px;
    letter-spacing: 1px;
}

.FreelancerTimeline-Index{
    border: 1px solid yellow;
    width: 400px;
    height: 500px;
    text-indent: 2px;
    letter-spacing: 1px;
    text-align: left;
}