.HomeBody{
    text-align: center;
    height: 1000px;
    margin-top: -20px;
    background: rgb(17,85,136);
    background: linear-gradient(45deg, rgb(93, 179, 219) 18%, rgb(65, 152, 189) 39%, rgba(85, 198, 233, 0.918) 67%, rgba(0,212,255,1) 95%);
}

.NavBiography-selected{
    background-color: white;
    border-radius: 10px;
}

.NavEducate-selected{
    background-color: white;
    border-radius: 10px;
}
.NavExperience-selected{
    background-color: white;
    border-radius: 10px;
}

.Body-Index > h1{
    padding-top: 20px;
    margin-bottom: 25px;
}

.HomeNav-Flex{
    text-align: center;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 350px;
    height: 50px;
    background-image: linear-gradient(100deg, #6973ff , #5e9fff, #56afff);
}

.HomeNav-Flex > div{
    margin: auto;
    font-weight: bold;
}

.IntroductionBox{
    border-radius: 20px;
    border: 3px solid #0f4db8;
    background-color: rgb(177, 196, 219, 0.6);
    margin-top: 30px !important;
    margin: auto;
    width: 1000px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}

.IntroductionBox-Subject{
    /* border: 1px solid red; */
    width: 50px;
    display: flex;
    flex-direction: column;
    width: auto;
    color: rgb(225, 206, 167);
}

.IntroductionBox-Subject > div{
    margin: auto;
}

.IntroductionBox-Data{
    /* border: 1px solid yellow; */
    width: 50px;
    display: flex;
    flex-direction: column;
    width: auto;
    color: rgb(225, 206, 167);
}

.IntroductionBox-Data > div{
    margin: auto; 
}

.IntroductionBox-Data > a{
    color: rgb(225, 206, 167);
    margin: auto;
    text-decoration: none;
}