.HomeNav-Flex{
    text-align: center;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 350px;
    height: 50px;
    background-image: linear-gradient(100deg, #6973ff , #5e9fff, #56afff);
}

.NavBiography, .NavEducate, .NavExperience {
    --margin: auto;
    --font-weight: bold;
    --background: none;
    --box-shadow: 100px;
}

/* ============No change button css===== */


/* -----On Change for Nav button --------- */

.NavBiography-selected{
    --background: white ;
    --color: black;
    --border-radius: 10px;
    --border-color: none;
    --border-style: none;
}

.NavEducate-selected{
    --background: white ;
    --color: black;
    --border-radius: 10px;
    --box-shadow: 1000px;
}

.NavExperience-selected{
    --background: white ;
    --color: black;
    --border-radius: 10px;
    --box-shadow: none;
}