.Education-Index{
    text-align: center;
    height: 1000px;
    margin-top: -20px;
    background: rgb(17,85,136);
    background: linear-gradient(45deg, rgb(93, 179, 219) 18%, rgb(65, 152, 189) 39%, rgba(85, 198, 233, 0.918) 67%, rgba(0,212,255,1) 95%);
}

.Education-Body > h1{
    padding-top: 20px;
    margin-bottom: 25px;
    margin-top: 60px;
}

.Timeline-Index{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    height: 520px;
}

.Timeline-Education{
    border: 5px solid white;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(247, 247, 247, 0.5);
}

.Left-Timeline-Slider{
    /* margin: 20px; */
    /* border: 3px solid rgb(79, 109, 204); */
    height: 400px;
    text-align: left;
    margin: auto;
    /* margin-top: 20px; */
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 30px;
}

/* .Left-Timeline-Slider{
    margin: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.Timeline-Skill{
    border: 5px solid white;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(247, 247, 247, 0.5);
}

.Right-Timeline-Slider{
    /* border: 1px solid green; */
    height: 400px;
    text-align: left;
    margin: auto;
    /* margin-top: 20px; */
    /* margin-left: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 36px;
}

.Skill-Image{
    /* border: 1px solid red; */
    /* margin: 20px; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* gap: 22px; */
}