.Education-Index{
    text-align: center;
    height: 1000px;
    margin-top: -20px;
    background: rgb(17,85,136);
    background: linear-gradient(45deg, rgb(93, 179, 219) 18%, rgb(65, 152, 189) 39%, rgba(85, 198, 233, 0.918) 67%, rgba(0,212,255,1) 95%);
}